<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">

<taglib>

	<tlib-version>2.0</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>pga</short-name>
	<uri>/WEB-INF/tld/dashboard.tld</uri>
	<description>Dashboard Tag Library</description>

	<tag>
		<name>panel</name>
		<tag-class>com.dashboard.common.tag.flaty.PanelTag</tag-class>
		<description>
			Print Flaty's standard panel tag
		</description>
	</tag>
        <tag>
            <name>menuItem</name>
            <tag-class>com.dashboard.common.tag.flaty.MenuItemTag</tag-class>
            <description>Print Flaty's Menu Item</description>
            <attribute>
                <name>link</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>icon</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>idComponent</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>target</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
        </tag>
        <tag>
            <name>subMenuWrap</name>
            <tag-class>com.dashboard.common.tag.flaty.SubMenuWrapTag</tag-class>
            <description>Print Flaty's Sub Menu Wrapper Item</description>
            <attribute>
                <name>icon</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>caption</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>idComponent</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
        </tag>
        <tag>
            <name>subMenuItemGroup</name>
            <tag-class>com.dashboard.common.tag.flaty.SubMenuItemGroupTag</tag-class>
            <description>Print Flaty's Sub Menu Item Group</description>
            <attribute>
                <name>caption</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
        </tag>
        <tag>
            <name>subMenuItem</name>
            <tag-class>com.dashboard.common.tag.flaty.SubMenuItemTag</tag-class>
            <description>Print Flaty's Sub Menu Item</description>
            <attribute>
                <name>link</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>idComponent</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>target</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
        </tag>
      
         <tag>
            <name>boxWrap</name>
            <tag-class>com.dashboard.common.tag.flaty.BoxWrapTag</tag-class>
            <description>Print Flaty's Box Wrap</description>
            <attribute>
                <name>boxColor</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>columnLayoutClass</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
        </tag>
        <tag>
            <name>boxTitleAndToolWrap</name>
            <tag-class>com.dashboard.common.tag.flaty.BoxTitleAndToolTag</tag-class>
            <description>Print Flaty's Box Wrap Title and Tool Wrapper</description>
            <attribute>
                <name>icon</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>caption</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>useCollapse</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>useClose</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
        </tag>
<!--       
        -->
        <tag>
            <name>boxToolActionNoContent</name>
            <tag-class>com.dashboard.common.tag.flaty.BoxToolActionNoContentTag</tag-class>
            <description>Print Flaty's Box Action in Box Tool</description>
            <attribute>
                <name>action</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>href</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>icon</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
        </tag>
        <tag>
            <name>slimScroll</name>
            <tag-class>com.dashboard.common.tag.flaty.SlimScrollTag</tag-class>
            <description>Print Flaty's Slim Scroll</description>
            <attribute>
                <name>action</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>href</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>icon</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
        </tag>
        <tag>
            <name>boxContentWrap</name>
            <tag-class>com.dashboard.common.tag.flaty.BoxContentWrapTag</tag-class>
            <description>Print Flaty's Box Content</description>
            <attribute>
                <name>useSlimScroll</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>useListStyle</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
            <attribute>
                <name>className</name>
                <rtexprvalue>true</rtexprvalue>
            </attribute>
        </tag>
        <tag>
            <name>dummy</name>
            <tag-class>com.dashboard.common.tag.flaty.DummyTag</tag-class>
        </tag>
	
</taglib>
