.skin-black #main-content {
    background-color : #eee;
}
.table>thead>tr>th {
    vertical-align: middle;
    text-align: center;
}
.table-scrollable{
    border:none;
}
html, body{
    height: 100%;
}

.select2-search-choice-close:before {
    color: #FD0202;
    content: "";
    font-size: 14px;
}

.select2-drop-active{
    z-index: 9999999;
}

.full{
    width:100%!important;
}
body,html {
    background-color:#eee!important;
}
