.skin-black .nav-list>li .submenu>li.active>a {
    background-color: #000000;
}
#main-content{
    padding:0px;
}
/*.user-profile .dropdown-navbar {
    min-width: 205px;
}*/

#btn-scrolldown {
    background-color: #999;
    color: #444;
    opacity: .3;
    position: fixed;
    bottom: 25px;
    right: 80px;
    display: none;
}